.accordion-button::after {
    content: '';
}



.card-img-bottom {
    width: 150px;
}

/* Add custom styles for the FAQ section here */
.accordion-button {
    color: #000;
}

.accordion-button:not(.collapsed) {
    background-color: #80171d;
    color: #fff;
}