.alumni-meetup-background {
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 50px 0;
    width: 100%;
    min-height: 50vh;
}

.alumni-meetup-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 15px;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-heading {
    font-size: 2.rem;
    color: #80171d;
    animation: fadeInDown 1s ease-in-out;
    margin-bottom: 40px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.description {
    flex: 1;
    padding-right: 20px;
    font-size: 1.2rem;
}

.carousel-container {
    flex: 1;
    padding-left: 20px;
}

.carousel img {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeInUp 1s ease-in-out;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.carousel img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.description h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #2c3e50;
}

.description p {
    color: #333;
    font-size: 1.2rem;
}

/* Animations */
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}