
/* .container {
	display: flex;
	max-width: 800px;
	width: calc(100% - 100px);
	height: 400px;
}
.container .box {
	position: relative;
	min-width: 60px;
	overflow: hidden;
	margin: 10px;
	background-size: auto 150%;
	background-position: center;
	cursor: pointer;
	transition: background-size 1s ease, flex-grow 1s ease;
	border-radius: 50px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}
.container .box:hover {
	background-size: auto 100%;
	border-radius: 50px;
	transition: all 0.9s ease;
} */
