.text-css {
  color: #80171d;
  font-weight: 800;
  font-size: 35px;
  margin-bottom: 5px;
}

.des {
  cursor: pointer;
}

a.d-block.overlay.mb-4 {
  font-size: 17px !important;
  font-weight: 600 !important;
  text-transform: uppercase !important;
}



.container {
  max-width: 1200px;
  margin: auto;
  padding: 15px;
}

.card {
  border: none;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card-img-top {
  height: 200px;
  background-color: #f0f0f0;
  /* Light grey background for placeholder */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.card:hover .card-img-top {
  transform: scale(1.05);
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-text {
  font-size: 1rem;
  color: #555;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.overlay-layer {
  background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
  .card-title {
    font-size: 1rem;
  }

  .card-text {
    font-size: 0.875rem;
  }
}